<body>
    {{> nav}}
    <html>

    <head>
        <title>About Anthony</title>
    </head>

    <div id="innerContent">
        <img src="../assets/anthony.png" alt="../assets/user_image.png" width="400" align="right" />

        <div class="name">Anthony Nguyen</div>
        <div class="quote"></br>
            <i>SFSU Computer Science Student at SFSU seeking a career in the tech industry.</i>
            </br></br>
        </div>
        <div class="table">
            <div class="tr">
                <div class="title"><b>General Info</b></div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Role</b></div>
                <div class="td">Github Manager</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Year</b></div>
                <div class="td">Senior</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Location</b></div>
                <div class="td">Sunnyvale, California</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Languages</b></div>
                <div class="td">Java, C++, CSS, HTML</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Areas of focus</b></div>
                <div class="td">Web Development, Native Applications</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Interests</b></div>
                <div class="td">Gaming, Body Building, Dogs</div>
            </div>
        </div>
    </div>

    </html>
</body>