<body>
    {{> nav}}
</body>

<head>
    <title>About Kevin</title>
</head>

<div id="innerContent">
    <img src="../assets/jahir.jpg" alt="No Image Found" width="400" align="right"/>
    <div class="name">Jahir Hernandez</div>
    <div class="quote"></br>
        <i>SFSU Computer Science student exploring the horizon to decide which career best interests me</i>
        </br></br>
    </div>
    <table>
        <tr>
            <td class="title"><b>General Info</b></td>
        </tr>
        <tr>
            <td id="label"><b>Role</b></td>
            <td>Backend</td>
        </tr>
        <tr>
            <td id="label"><b>Year</b></td>
            <td>Senior</td>
        </tr>
        <tr>
            <td id="label"><b>Location</b></td>
            <td>Mexico City, Mexico</td>
        </tr>
        <tr>
            <td id="label"><b>Languages</b></td>
            <td>C, C++, Java, Python, Swift</td>
        </tr>
        <tr>
            <td id="label"><b>Areas of focus</b></td>
            <td>Java, C++, Python, CSS, HTML</td>
        </tr>
        <tr>
            <td id="label"><b>Interests</b></td>
            <td>Gaming, coffee, coding, exercise</td>
        </tr>
    </table>
</div>