<body>
    {{> nav}}
    <html>

    <head>
        <title> About me </title>
    </head>

    <p>
    <div id="innerContent">
        <img src="../assets/jahir.jpg" alt="No Image Found" width="400" align="right" />

        <div class="name">Jahir Hernandez</div>
        <div class="quote"></br>
            <i>SFSU Computer Science student exploring the horizon to decide which career best interests me</i>
            </br></br>
        </div>
        <div class="table">
            <div class="tr">
                <div class="title"><b>General Info</b></div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Email</b></div>
                <div class="td">jhernandez12@sfsu.mail.edu</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Role</b></div>
                <div class="td">Backend</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Year</b></div>
                <div class="td">Senior</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Location</b></div>
                <div class="td">Mexico City, Mexico</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Languages</b></div>
                <div class="td">Java, C++, Python, CSS, HTML</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Interests</b></div>
                <div class="td">Gaming, coffee, coding, exercise</div>
            </div>
        </div>
    </div>
    </p>

    </html>
</body>