<body>
    {{> nav}}
</body>

<head>
    <title>About Kevin</title>
</head>

<div id="innerContent">
    <img src="../assets/jenn.jpg" alt="No Image Found" width="400" align="right"/>
    <div class="name">Jennifer Finaldi</div>
    <div class="quote"></br>
        <i>Computer Science student at SFSU looking to pursue a career in embedded systems programming or native applications</i>
        </br></br>
    </div>
    <table>
        <tr>
            <td class="title"><b>General Info</b></td>
        </tr>
        <tr>
            <td id="label"><b>Role</b></td>
            <td>Team Lead</td>
        </tr>
        <tr>
            <td id="label"><b>Year</b></td>
            <td>Senior</td>
        </tr>
        <tr>
            <td id="label"><b>Location</b></td>
            <td>Vallejo, CA</td>
        </tr>
        <tr>
            <td id="label"><b>Languages</b></td>
            <td>C, C++, Java, Python, Swift</td>
        </tr>
        <tr>
            <td id="label"><b>Areas of focus</b></td>
            <td>Embedded Systems, Native Applications</td>
        </tr>
        <tr>
            <td id="label"><b>Interests</b></td>
            <td>Animals, Gaming, Outdoors</td>
        </tr>
    </table>
</div>