<body>
    {{> nav}}
<<<<<<< HEAD
=======
    <html>
        <head>
            <title> About me </title>
        </head>
        <body>
            <fieldset>
            <div>
                <img src="cat.png" alt="No Image Found">
            </div>

            <div>
                <label for="name">Name:</label>
                <p>Kevin Danh</p>
            </div>

            <div>
                <label for="from">From:</label>
                <p>Riverside, CA</p>
            </div>

            <div>
                <label for="ethnicity">Ethinicity:</label>
                <p>Cambodian</p>        
            </div>

            <div>
                <label for="grade">Grade Level:</label>
                <p>Senior</p>	
            </div>

            <div>
                <label for="about">About:</label>
                <p> 
                    I am an avid gamer and some of my favorite titles are Darks Souls, Monster Hunter, & Legend of Zelda.
                    I have a love for coffee and very much enjoy eating a solid burger.
                    I don't have any professional programming experience, but I have some familiarity with Java, Python, & C++.
                </p>
            </div>
            </fieldset> 
        </body>
    </html>
>>>>>>> 0858f20d927e7d6da27c6ccd0bdc501503bc8a96
</body>