<body>
    {{> nav}}
<<<<<<< HEAD
=======
    <html>

    <head>
        <title> About me </title>
    </head>

    <div id="content">
        <div class="row">
            <div class="column">
                <card id="card">
                    <div id="name"> Kevin Danh </div>
                    <table>
                        <tr>
                            <td>Location</td>
                            <td>Riverside, CA</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>kdanh@mail.sfsu.edu</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Front-end Lead</td>
                        </tr>
                    </table>
                </card>
            </div>

            <div class="column">
                <card id="card">
                    <img src="../assets/cat.png" alt="No Image Found">
                </card>
            </div>
        </div>
    </div>

    </html>
>>>>>>> 0858f20d927e7d6da27c6ccd0bdc501503bc8a96
</body>