<body>
    {{> nav}}
    <html>

    <head>
        <title> About me </title>
    </head>

    <p>
    <div id="innerContent">
        <img src="../assets/kevin.jpg" alt="No Image Found" width="400" align="right"/>
        <div class="name">Kevin Danh</div>
        <div class="quote"></br>
                <i>Computer Science student at SFSU looking to pursue a career in game development or native applications</i>
        </br></br></div>
        <div class="table">
            <div class="tr">
                <div class="title"><b>General Info</b></div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Role</b></div>
                <div class="td">Front End</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Year</b></div>
                <div class="td">Senior</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Location</b></div>
                <div class="td">Riverside, CA</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Languages</b></div>
                <div class="td">C, C++, Java, Python, Javascript</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Areas of focus</b></div>
                <div class="td">Web Development, Native Applications</div>
            </div>
            <div class="tr">
                <div class="td" id="label"><b>Interests</b></div>
                <div class="td">Food, Gaming, Snowboarding, Bowling</div>
            </div>
        </div>
    </div>
    </p>

    </html>
</body>
