<body>
    {{> nav}}
</body>

<head>
    <title>About Robert</title>
</head>

<div id="innerContent">
    <img src="../assets/robert.png" alt="../assets/user_image.png" width="300" align="right" />
    <div class="name">Robert Cacho</div>
    <div class="quote"></br>
        <i>Computer Science Student at SFSU looking to pursue a career in web development or system
            administration</i>
        </br></br>
    </div>
    <div class="table">
        <div class="tr">
            <div class="title"><b>General Info</b></div>
        </div>
        <div class="tr">
            <div class="td" id="label"><b>Role</b></div>
            <div class="td">Backend</div>
        </div>
        <div class="tr">
            <div class="td" id="label"><b>Year</b></div>
            <div class="td">Senior</div>
        </div>
        <div class="tr">
            <div class="td" id="label"><b>Location</b></div>
            <div class="td">Hercules, CA</div>
        </div>
        <div class="tr">
            <div class="td" id="label"><b>Languages</b></div>
            <div class="td">Javascript, C++, C, Java, Python</div>
        </div>
        <div class="tr">
            <div class="td" id="label"><b>Areas of focus</b></div>
            <div class="td">Web Development, Cloud Engineer or System Administrator</div>
        </div>
        <div class="tr">
            <div class="td" id="label"><b>Interests</b></div>
            <div class="td">Swimming, Skating, Competitive Programming and good Food</div>
        </div>
    </div>
</div>