<body>
    {{> nav}}
</body>

<head>
    <title>About Kevin</title>
</head>

<div id="innerContent">
    <img src="../assets/user_image.jpg" alt="No Image Found" width="400" align="right"/>
    <div class="name">Robert Cacho</div>
    <div class="quote"></br>
        <i>Computer Science Student at SFSU looking to pursue a career in web development or system
            administration</i>
        </br></br>
    </div>
    <table>
        <tr>
            <td class="title"><b>General Info</b></td>
        </tr>
        <tr>
            <td id="label"><b>Role</b></td>
            <td>Backend</td>
        </tr>
        <tr>
            <td id="label"><b>Year</b></td>
            <td>Senior</td>
        </tr>
        <tr>
            <td id="label"><b>Location</b></td>
            <td>Hercules, CA</td>
        </tr>
        <tr>
            <td id="label"><b>Languages</b></td>
            <td>Javascript, C++, C, Java, Python</td>
        </tr>
        <tr>
            <td id="label"><b>Areas of focus</b></td>
            <td>Web Development, Cloud Engineer or System Administrator</td>
        </tr>
        <tr>
            <td id="label"><b>Interests</b></td>
            <td>Swimming, Skating, Competitive Programming and good Food</td>
        </tr>
    </table>
</div>