<body>
    {{> nav}}
</body>

{{!-- <div class="wrap">
    <h1>Meet the Team</h1>
    <a href="./about/jennifer"><button class="button">jennifer</button></a>
    <a href="./about/jahir"><button class="button">jahir</button></a>
    <a href="./about/robert"><button class="button">robert</button></a>
    <a href="./about/anthony"><button class="button">anthony</button></a>
    <a href="./about/kevin"><button class="button">kevin</button></a>
</div> --}}

<div class="wrap">
    <h1>About Us</h1>
    </br><div class="statement">Our mission statement is to provide a high quality pipeline that connects
        San Francisco State University talent and industry professionals through an intuitive, interactive
        solution to the previously long-standing problem of establishing a conduit of available talent to
        the employers that need it the most.
    </div></br>
    <h3>Meet team Pipewave</h3>
    </br>
    <table>
        <tr>
            <td>
                <p><a href="./about/jennifer">
                <img width="200" src="../assets/jenn.jpg" 
                alt="Jenn" class="align-center">
                Jennifer</a></p>
            </td>
            <td>
                <p><a href="./about/anthony">
                <img width="200" src="../assets/user_image.jpg" 
                alt="Anthony" class="align-center">
                Anthony</a></p>
            </td>
            <td>
                <p><a href="./about/jahir">
                <img width="200" src="../assets/jahir.jpg" 
                alt="Jahir" class="align-center">
                Jahir</a></p>
            </td>
        </tr>
        <table>
            <tr>
                <td class="row2">
                    <p><a href="./about/kevin">
                    <img width="200" src="../assets/kevin.jpg" 
                    alt="Kevin" class="align-center">
                    Kevin</a></p>
                </td>
                <td>
                    <p><a href="./about/robert">
                    <img width="200" src="../assets/user_image.jpg" 
                    alt="Robert" class="align-center">
                    Robert</a></p>
                </td>
            </tr>
        </table>
    </table>
</div>