<body>
    {{> nav}}
</body>
<h1>
    about page
</h1>

<a href="/about/jennifer">jennifer</a>
<a href="/about/jahir">jahir</a>
<a href="/about/robert">robert</a>
<a href="/about/anthony">anthony</a>
<a href="/about/kevin">kevin</a>