<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="../css/error.css" type="text/css">
    </link>

</head>

<body>


    <div id="main">
        <div class="fof">
            <h1 class="asd" style="font-size: 50px;">Error 404</h1>
        </div>
    </div>


</body>

</html>