{{> nav}}
<div class="container">

    <div id="counter"></div>
    <div id="container">

        <form id="form" method="post" action="/search" enctype="application/x-www-form-urlencoded">

            <input placeholder=" search" type="text" name="search" id="search">
            <button type="submit" id="button">GO</button>
            {{!-- <select id="cars" name="cars">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="Top">Top</option>
                <option value="test">Test</option>
            </select> --}}
        </form>
        <div id="output">
            {{>cards}}
        </div>

    </div>
    <div class="aboutus">
        <br>
        <div class="about__child">
            The Talent Pipeline website has existed for n days and has constructed a simple website where users can look
            at each other's resumes. Our objective is to connect employers with potential employees who have posted
            their resumes on our site. You can easily view a user’s resumes simply by clicking on their profile. If you
            like a user's resume, you can email them for potential employment.
        </div>
        <br>

        <div class="about__child">
            The Talent Pipeline website uses <br>
            <ul>
                <li>Google’s Natural Language Processing’s Entity extraction AI using the Google Cloud Platform</li>
                <li>OAuth 2.0 protocol with Google accounts</li>
                <li>Notivize’s Simple Mail Transfer Protocol to notify users that they have created an account with us
                </li>
                <li>Pdf-parse, a simple JavaScript library to extract text from pdfs for Google’s NLP </li>
            </ul>
        </div>
    </div>
</div>