{{> nav}}
<div class="container">
    <div class="child"><br>
        <h1 id="ctitle">LOGIN</h1>
        <form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
            <br><label for="Username" class="inputtags">Username</label><br>
            <input placeholder=" Enter username" type=text id="username" name="username" required /><br><br><br><br>
            <label for="Password" class="inputtags">Password</label><br>
            <input placeholder=" Enter password" type=password id="password" name="password"
                required></input><br><br><br><br><br>
            <input type="submit" class="submit" value="Login">

        </form>
    </div>
</div>