{{> nav}}

{{!-- Change Resume --}}
{{#equal userid userviewerid}} {{!-- if the user viewing is the owner of the resume, allow resume editing --}}
<br>
<div class="resumeUpload">
    <div>Upload Resume</div>
    <form action="/user/edit_resume" method="post" enctype="multipart/form-data">
        <input type="file" name="resume" />
        <button type="submit" id="resumeSubmitButton">Save</button>
    </form>
</div>
<br>
{{/equal}}

<div class="resume_container">
    <object id="obj" data="{{data}}">No Resume To Display</object>
</div>

