{{> nav}}
<div>
    <div class="container">
        <div class="child"><br>
            <h2 id="ntitle">Profile Settings</h2>
            <div id="error"></div>

            <a class="username">{{user.name}}</a>

            {{!-- Change Photo
            <div>Upload Photo</div>
            <form action="/user/edit_profile_picture" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" />
                <button type="submit">Save</button>
            </form><br> --}}

            {{!-- Change Resume
            <div>Upload Resume</div>
            <form action="/user/edit_resume" method="post" enctype="multipart/form-data">
                <input type="file" name="resume" />
                <button type="submit">Save</button>
            </form> --}}

            {{!-- <form action="/user/updateSettings" id="form" method="POST" enctype="application/x-www-form-urlencoded"> --}}
            <form action="/user/updateSettings" id="form" method="post" enctype="application/x-www-form-urlencoded">
                <div id= "formElements">
                    <h3>User Info</h3>
                        
                    {{!-- Change Username --}}
                    <label for="Username" class="inputtags">Username</label>
                    <input placeholder=" Enter Username" pattern="[A-Za-z0-9]+" type=text id="username" name="username"/><br>
                    
                    {{!-- Change Name --}}
                    <label for="Name" class="inputtags">Name</label>
                    <input placeholder=" Enter Name" type="text" id="name" name="name" /><br>

                    {{!-- Change Email --}}
                    <label for="email" class="inputtags">E-mail</label>
                    <input placeholder=" Enter Email" type="email" id="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" name="email" /><br>
                    
                    {{#equal usertype 0}}
                        {{!-- Change Ethnicity --}}
                        <label id="ethnicityLabel" for="ethnicity" class="inputtags">Ethnicity</label>
                        <select name="ethnicity" id="formSelector" name="role">
                            <option value="">--Select--</option>
                            <option name="ethnicity" value="african american">African-American</option>
                            <option name="ethnicity" value="hispanic">Hispanic</option>
                            <option name="ethnicity" value="asian">Asian</option>
                            <option name="ethnicity" value="latin">Latin</option>
                            <option name="ethnicity" value="pacific islander">Pacific Islander</option>
                            <option name="ethnicity" value="indigeneous">Indigenous</option>
                            <option name="ethnicity" value="white">White</option>
                            <option name="ethnicity" value="other">Other</option>
                            <option value="Recruiter">Recruiter</option>
                        </select>

                        {{!-- Change Gender --}}
                        <label id="genderLabel" for="gender" class="inputtags">Gender</label>
                        <select name="gender" id="formSelector" name="role">
                            <option value="">--Select--</option>
                            <option name="male" value="male">Male</option>
                            <option name="female" value="female">Female</option>
                            <option name="nonbinary" value="nonbinary">Non-binary</option>
                        </select>

                        {{!-- Change Major --}}
                        <label id="majorLabel" for="major" class="inputtags">Major</label>
                        <select name="major" id="formSelector" name="role">
                            <option name="" value="">--Select--</option>
                            <option name="Computer Science" value="Computer Science">Computer Science</option>
                            <option name="Engineering" value="Engineering">Engineering</option>
                            <option name="Mathematics" value="Mathematics">Mathematics</option>
                            <option name="Communications" value="Communications">Communications</option>
                            <option name="Business" value="Business">Business</option>
                        </select>
                    {{/equal}}

                    {{#equal usertype 1}}
                        {{!-- Change Department --}}
                        <label id="departmentLabel" for="department" class="inputtags">Department</label>
                        <select name="department" id="formSelector" name="role">
                            <option name="" value="">--Select--</option>
                            <option name="Computer Science" value="Computer Science">Computer Science</option>
                            <option name="Engineering" value="Engineering">Engineering</option>
                            <option name="Mathematics" value="Mathematics">Mathematics</option>
                            <option name="Communications" value="Communications">Communications</option>
                            <option name="Business" value="Business">Business</option>
                        </select>
                    {{/equal}}

                    {{#equal usertype 2}}
                        {{!-- Change Company  --}}
                        <label id="companyLabel" for="company" class="inputtags">Company</label>
                        <input placeholder="New Company" id="company" name="company"></input><br>
                    {{/equal}}

                    {{!-- Change Password --}}
                    <label for="password" class="inputtags">New Password</label>
                    <input placeholder=" Enter Password" type=password id="password" minlength="8" 
                            name="password"></input><br>
                    <label for="Username" class="inputtags">Confirm New Password</label>
                    <input placeholder=" Confirm Password" name="confirmpassword" type=password minlength="8"
                            id="confirmpassword"></input><br><br>

                    <input type="submit" class="submit" value="Save Settings"></input>
                </div>
            </form>
        </div>
        <div id="box">
            <div id="euser"></div>
            <div id="epass"></div>
        </div>
    </div>
</div>