{{> nav}}
<div>
    <a class="card_info">{{user.status}}</a>
</div>
<div>

    <a class="card_info">User: </a> <a class="blue_text"> {{user.username}}</a>



</div>
<div class="userInfo">
    <div class="userBox">
        <form action="/users/changeUsername" method="post">
            <label for="new_username">Enter New Username</label>

            <input class="textbox" type="text" name="new_username">
            <br>
            <label for="old_password">Enter Current Password</label>

            <br>
            <input class="textbox" type="text" name="old_password">
            <br>
            <button class="button_change" type="submit">Change Username</button>

            <br>
        </form>
    </div>

    <div class="passwordBox">

        <form action="/users/changePassword" method="post">
            <label for="new_password">New Password</label>
            <br>

            <input class="textbox" type="text" name="new_password">
            <br>
            <label for="old_password">Enter Current Password</label>
            <br>

            <input class="textbox" type="text" name="old_password">
            <br>

            <button class="button_change" type="submit">Change Password</button>
        </form>
    </div>

    <div class="emailBox">

        <form action="/users/changeEmail" method="post">
            <label for="new_email">Enter New Email</label>
            <br>

            <input class="textbox" type="text" name="new_email">
            <br>
            <label for="old_password">Enter Current Password</label>
            <br>

            <input class="textbox" type="text" name="old_password">
            <br>
            <button class="button_change" type="submit">Change Email</button>
        </form>
    </div>
</div>