{{> nav}}
<div>
    <div class="container">
        <div class="child"><br>
            <h2 id="ntitle">Profile Settings</h2>
            <div id="error"></div>

            <a class="username">{{user.name}}</a>

            {{!-- Change Photo --}}
            <div>Upload Photo</div>
            <form action="/user/edit_profile_picture" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" />
                <button type="submit">Save</button>
            </form><br>

            {{!-- Change Resume --}}
            <div>Upload Resume</div>
            <form action="/user/edit_resume" method="post" enctype="multipart/form-data">
                <input type="file" name="resume" />
                <button type="submit">Save</button>
            </form>

            {{!-- <form action="/user/updateSettings" id="form" method="POST" enctype="application/x-www-form-urlencoded"> --}}
            <form action="/user/updateSettings" id="form" method="post" enctype="application/x-www-form-urlencoded">
                <div id= "formElements">
                    <h3>User Info</h3>
                        
                    {{!-- Change Username --}}
                    <label for="Username" class="inputtags">Username</label>
                    <input placeholder=" Enter Username" pattern="[A-Za-z0-9]+" type=text id="username" name="username"/><br>
                    
                    {{!-- Change Name --}}
                    <label for="Name" class="inputtags">Name</label>
                    <input placeholder=" Enter Name" type="text" id="name" name="name" /><br>

                    {{!-- Change Email --}}
                    <label for="email" class="inputtags">E-mail</label>
                    <input placeholder=" Enter Email" type="email" id="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" name="email" /><br>
                    
                    {{#equal usertype 0}}
                        {{!-- Change Ethnicity --}}
                        <label id="ethnicityLabel" for="ethnicity" class="inputtags">Ethnicity</label>
                        <input placeholder="Ethnicity" id="ethnicity" name="ethnicity"></input><br>

                        {{!-- Change Gender --}}
                        <label id="genderLabel" for="gender" class="inputtags">Gender</label>
                        <input placeholder="Gender" id="gender" name="gender"></input><br>

                        {{!-- Change Major --}}
                        <label id="majorLabel" for="major" class="inputtags">Major</label>
                        <input placeholder="New Major" id="major" name="major"></input><br>
                    {{/equal}}

                    {{#equal usertype 1}}
                        {{!-- Change Department --}}
                        <label id="departmentLabel" for="department" class="inputtags">Department</label>
                        <input placeholder="New Department" id="department" name="department"></input><br>
                        <br>
                    {{/equal}}

                    {{#equal usertype 2}}
                        {{!-- Change Company  --}}
                        <label id="companyLabel" for="company" class="inputtags">Company</label>
                        <input placeholder="New Company" id="company" name="company"></input><br>
                    {{/equal}}

                    {{!-- Change Password --}}
                    <label for="password" class="inputtags">New Password</label>
                    <input placeholder=" Enter Password" type=password id="password" minlength="8" 
                            name="password"></input><br>
                    <label for="Username" class="inputtags">Confirm New Password</label>
                    <input placeholder=" Confirm Password" name="confirmpassword" type=password minlength="8"
                            id="confirmpassword"></input><br><br>

                    <input type="submit" class="submit" value="Save Settings"></input>
                </div>
            </form>
        </div>
        <div id="box">
            <div id="euser"></div>
            <div id="epass"></div>
        </div>
    </div>
</div>