body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*font-family: Open Sans, sans-serif;*/
  font-size: 18pt;
  background: url(../assets/background.png);
  background-color: black;
}

.name, .quote {
  margin-left: 40px;
}

.name {
  margin-top: 20px;
  font-size: 56pt;
}

.quote {
  max-width: 100%;
  font-size: 14pt;
}

.table {
  margin-left: 20px;
  max-width: 50%;
  display: table;
}

#innerContent {
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 50px;
   margin-left: 20px;
   margin-right: 20px;
   background: rgba(255,255,255, 0.75);
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

p {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

img {
  box-shadow:rgba(0,0,0, 0.75);
  float: right;
  max-width:50%;
  margin-right: 20px;
  margin-top: 20px;
  height:auto;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  margin-left: 20px;
  font-size: 14pt;
}

#label {
  float: left;
  padding-left: none;
  margin-left: none;
  width: 200px;
}

.title {
  display: table-cell;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 24pt;   
}