@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  text-decoration: none;
}
/*Nav button links*/
.right {
  padding: 8px;
  text-decoration: none;
  color: rgb(29, 29, 29);
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  /* border: 1px solid white;
  border-radius: 5px; */
  margin-top: 10px;
  margin-right: 15px;
  /* background-color: white; */
}

#nav {
  /* background-color: white; */
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
}
#logout_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#title1 {
  margin-left: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  float: left;
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  /* border: 1px solid white;
  border-radius: 5px; */
  margin-top: 10px;
}
.nav {
  position: relative;
}

/* .fa,
.far,
.fas {
  margin-top: 16px;
}
.fa-user:before {
  color: black;
} */
