.right {
  padding: 15px;
  text-decoration: none;
  color: rgb(29, 29, 29);
}
#nav {
  background-color: white;
  width: 100%;
  height: 80px;
}
#logout_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#title1 {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  float: left;
  text-align: left;
  font-size: 20px;
}
.nav {
  /* float: right; */
  position: relative;
}
#title {
  float: left;
}
.right {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
