@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.userBox,
.emailBox,
.passwordBox {
  font-family: "Open Sans", sans-serif;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.51);
  padding: 25px;
  transition: all 200ms ease-in-out;
}
.textbox {
  border-radius: 5px;
  background-color: rgb(180, 244, 255);
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding: 3px;
  margin-bottom: 4px;
}
.emailBox,
.passwordBox,
.userBox {
  position: relative;
}
/* .userBox {
  opacity: 0;
  display: none;
} */
.button_change {
  border-radius: 5px;
  background-color: rgba(170, 250, 188, 0.74);
  border: none;
  font-family: "Open Sans", sans-serif;
  padding: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 15px;
}
.userBox:hover,
.emailBox:hover,
.passwordBox:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.71);
}

.extra {
  background-color: rgb(41, 41, 41);
  height: 200px;
}
.anchor-button {
  float: right;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: rgb(29, 29, 29);
  background-color: white;
  padding: 3px;
  border-radius: 4px;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.card:hover .anchor-button {
  opacity: 1;
}
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.71);
}
#maininfo {
  font-size: 50px;
  text-align: center;
}

.card {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgb(29, 29, 29);
  height: 500px;
  width: 370px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
  filter: drop-shadow(0px 0px 5px);
  transition: all 0.5s ease;
  opacity: 1;
}

/* .downloadheart {
  transition: all 0.5s ease;
  opacity: 1;
}
.downloadheart:hover {
  background-image: "../assets/redlike.png";
  opacity: 0;
} */

#hidden {
  transition: all 0.5s ease;
  text-decoration: none;
  float: right;
  margin: 0;
  font-size: 15px;
  padding: 3px;
  font-family: "Open Sans", sans-serif;
  margin-right: 5px;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: all 200ms ease;
}

.card:hover #hidden {
  opacity: 1;
}
#ctitle {
  color: #4dc8f8;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  margin-top: 5px;
  margin-left: 15px;
  padding: 0;
}
#note {
  color: rgb(238, 238, 238);
  margin: 0;
  margin-top: 10px;
  margin-left: 15px;
}
#description_text {
  color: rgb(238, 238, 238);

  padding: 0;
  margin-left: 15px;
}

#date,
#author {
  color: rgb(238, 238, 238);
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

#image {
  height: 300px;
  width: 370px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: opacity 1s;
}

.card_image {
  height: 300px;
  width: 370px;
}
.card_info {
  font-family: "Open Sans", sans-serif;
  color: rgb(29, 29, 29);
}
.blue_text {
  font-family: "Open Sans", sans-serif;
  color: #4dc8f8;
}
/* nav bar */
