@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.username {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
