{{!-- This file displays a list of all of the demographics 
currently selected to create alerts for --}}
{{!-- {{#each data}} --}}
    {{!-- <ul>
        {{#each this.ethnicity}}
            <li>{{this.ethnicity}}</li>
        {{/each}}
        {{#each}}
            <li>{{this.gender}}</li>
        {{/each}}
        {{#each}}
            <li>{{this.major}}</li>
        {{/each}}
    </ul> --}}
{{!-- {{else}} --}}
    <div>No Alert Created</div>
{{!-- {{/each}} --}}
