{{!-- This file displays a list of all of the demographics
currently selected to create alerts for --}}
{{#if alerts}}
<ul>
    {{#each alerts}}

    {{#each this.ethnicity}}
    <li>{{this}}</li>
    {{/each}}

    {{#each this.gender}}
    <li>{{this}}</li>
    {{/each}}

    {{#each this.major}}
    <li>{{this}}</li>
    {{/each}}

    {{/each}}

</ul>
{{else}}
<div>No Alert Created</div>
{{/if}}