<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{unique}} Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/{{unique}}.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    {{#if search}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    {{/if}}
    {{#each render_js_files}}
    <script defer type="text/javascript" src="/js/{{this}}.js""></script>
    {{/each}}

</head>




{{!-- test --}}