<div id="nav">
    <a href="/"><img id="logo" height="60" src="../../assets/pipewavelogo.jpg"></a>
    {{#if logged}}
        <a href="/user/logout">
            <button type="submit" id="logout_button" class="right">Logout</button>
        </a>
        {{#equal usertype 2}}
            {{#if hasNewAlerts}}
            <a href="/alerts" class="right">Alerts
                <div class="right" id="nav_dot"></div>
            </a>
            {{else}}
                <a href="/alerts" class="right">Alerts</a>
            {{/if}}
        {{/equal}}
        <a href="/user/{{username}}" class="right">{{username}}</a>
    {{else}}
        <a href="/register" class="right">Register</a>
        <a href="/login" class="right">Login</a>
    {{/if}}
    <a href="/about" class="right">About </a>
    <a href="/" class="right">Home</a>
    <a href="/" class="right" style="color: red; padding-right: 50px;">
        ***SFSU Software Engineering Project CSC 648-848, Spring 2021. For Demonstration Only***</a>
</div>