<div id="nav">
    <a href="/"><img id="logo" height="60" src="../../assets/pipewavelogo.jpg"></a>
    {{#if logged}}
        <a href="/user/logout">
            <button type="submit" id="logout_button" class="right">Logout</button>
        </a>
        {{#if hasNewAlerts}}
        <a href="/alerts" class="right">Alerts
            <div class="right" id="nav_dot"></div>
        </a>
        {{else}}
            <a href="/alerts" class="right">Alerts</a>
        {{/if}}
        <a href="/user/{{username}}" class="right">{{username}}</a>
    {{else}}
        <a href="/register" class="right">Register</a>
        <a href="/login" class="right">Login</a>
    {{/if}}
    <a href="/about" class="right">About </a>
    <a href="/" class="right">Home</a>
</div>