<div id="nav">
    <a href="/" id="title1">Talent Pipeline</a>
    {{!-- <a href="/" class="fas fa-user"></a> --}}
    {{#if logged}}
    <a href="/users/{{username}}" class="right">Profile</a>
    <form action="/users/logout" method="post">
        <button type="submit" id="logout_button" class="right">Logout</button>
    </form>
    <a href="/upload" class="right">Post Resume</a>
    {{else}}
    <a href="/Register" class="right">Register</a>
    {{!-- <a class="fas fa-user"></a> --}}

    <a href="/login" class="right">Login</a>

    {{!-- <a href="/login" class="right">Create Post</a> --}}
    {{/if}}
    <a href="/about" class="right">About</a>
    <a href="/" class="right">Home</a>

</div>