<div id="nav">
    <a href="/"><img id="logo" height="60" src="../../assets/pipewavelogo.jpg"></a>
    {{!-- <a href="/" id="title1">coolbeans</a> --}}
    {{#if logged}}
    <a href="/user/logout">
        <button type="submit" id="logout_button" class="right">Logout</button>
    </a>
    {{!-- {{#if industryAccount}} --}}
    <a href="/alerts" class="right">Alerts
        <div class="right" id="nav_dot"></div>
    </a>
    {{!-- {{/if}} --}}
    <a href="/user/{{username}}" class="right">{{username}}</a>
    {{!-- <form action="/user/logout" method="post">
        <button type="submit" id="logout_button" class="right">Logout</button>
    </form> --}}
    {{!-- <a href="/upload" class="right">Create Post</a> --}}
    {{else}}
    <a href="/register" class="right">Register</a>
    <a href="/login" class="right">Login</a>
    {{!-- <a href="/login" class="right">Create Post</a> --}}
    {{/if}}
    <a href="/about" class="right">About </a>
    <a href="/" class="right">Home</a>
</div>